$black-opacity-87: rgba(black, 0.87);
$black-opacity-62: rgba(black, 0.62);
$black-opacity-37: rgba(black, 0.37);
$black-opacity-25: rgba(black, 0.25);
$black-opacity-12: rgba(black, 0.12);

$white-opacity-87: rgba(white, 0.87);
$white-opacity-62: rgba(white, 0.62);
$white-opacity-37: rgba(white, 0.37);
$white-opacity-25: rgba(white, 0.25);
$white-opacity-12: rgba(white, 0.12);


$green-palette: (
        100 : #ccffcc,
        300 : #76f876,
        500: #2cde2c,
        700: #06af06,
        900: #007200,
        contrast: (
                100 : $black-opacity-87,
                300 : $black-opacity-87,
                500: $black-opacity-87,
                700: $white-opacity-87,
                900: $white-opacity-87,
        )
);
$green-palette-keys: map-remove($green-palette, contrast);

$purple-palette: (
        100 : #e9d9ff,
        300 : #b67afb,
        500: #832de7,
        700: #5606bb,
        900: #31007f,
        contrast: (
                100 : $black-opacity-87,
                300 : $black-opacity-87,
                500: $white-opacity-87,
                700: $white-opacity-87,
                900: $white-opacity-87,
        )
);
$purple-palette-keys: map-remove($purple-palette, contrast);

$gray-palette: (
        100 : #e6e6e6,
        300 : #b8b8b8,
        500: #8b8b8b,
        700: #5f5f5f,
        900: #333333,
        contrast: (
                100 : $black-opacity-87,
                300 : $black-opacity-87,
                500: $black-opacity-87,
                700: $white-opacity-87,
                900: $white-opacity-87,
        )
);
$gray-palette-keys: map-remove($gray-palette, contrast);
