@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
button:focus {
  outline: none;
}

button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar {
  --scrollbar-width: 0.5rem;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*=language-],
body pre[class*=language-] {
  background: #333333;
}

.ae-typo .headline1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 4.5rem;
  letter-spacing: -1.5px;
}

.ae-typo .headline2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: -0.5px;
}

.ae-typo .headline3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0;
}

.ae-typo .headline4 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.25px;
}

.ae-typo .headline5 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0;
}

.ae-typo .headline6 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

.ae-typo .subtitle1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.15px;
}

.ae-typo .subtitle2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.1px;
}

.ae-typo .body1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.ae-typo .body2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
}

.ae-typo .button {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 1.25px;
}

.ae-typo .caption {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
}

.ae-typo .overline {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 0.625rem;
  letter-spacing: 1.5px;
}

@layer components {
  .btn-gray-100 {
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn-gray-300 {
    background-color: #b8b8b8;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn-gray-500 {
    background-color: #8b8b8b;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn-gray-700 {
    background-color: #5f5f5f;
    color: rgba(255, 255, 255, 0.87);
  }

  .btn-gray-900 {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.87);
  }

  .btn-green-100 {
    background-color: #ccffcc;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn-green-300 {
    background-color: #76f876;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn-green-500 {
    background-color: #2cde2c;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn-green-700 {
    background-color: #06af06;
    color: rgba(255, 255, 255, 0.87);
  }

  .btn-green-900 {
    background-color: #007200;
    color: rgba(255, 255, 255, 0.87);
  }

  .btn-purple-100 {
    background-color: #e9d9ff;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn-purple-300 {
    background-color: #b67afb;
    color: rgba(0, 0, 0, 0.87);
  }

  .btn-purple-500 {
    background-color: #832de7;
    color: rgba(255, 255, 255, 0.87);
  }

  .btn-purple-700 {
    background-color: #5606bb;
    color: rgba(255, 255, 255, 0.87);
  }

  .btn-purple-900 {
    background-color: #31007f;
    color: rgba(255, 255, 255, 0.87);
  }
}

/*# sourceMappingURL=index.css.map */
