---
layout: default_template
title: Design && Development
path: home
---

<main>
    <section class="snap-start bg-gray-100 py-[7rem]">
        {% include "./_includes/partials/1_what.html" %}
    </section>

    <section class="snap-start bg-gray-300">
        {% include "./_includes/partials/2_how.html" %}
    </section>

    <section class="snap-start bg-gray-100">
        {% include "./_includes/partials/3_why.html" %}
    </section>

    <section class="snap-start bg-gray-300">
        {% include "./_includes/partials/4_see.html" %}
    </section>

    <section class="snap-start bg-gray-100">
        {% include "./_includes/partials/5_read.html" %}
    </section>
</main>
