---
layout: default_template
title: Design && Development
path: home
---

<main class="container flex flex-col mx-auto">
    <section>
        {% include "./_includes/partials/1_what.html" %}
    </section>

    <section>
        {% include "./_includes/partials/2_how.html" %}
    </section>

    <section>
        {% include "./_includes/partials/3_why.html" %}
    </section>

    <section>
        {% include "./_includes/partials/4_see.html" %}
    </section>

    <section>
        {% include "./_includes/partials/5_read.html" %}
    </section>
</main>
