<div class="container mx-auto py-32 px-4 sm:px-8">

    <h2>
        <span class="bg-purple-500 text-white px-4 mt-32">What?</span>
    </h2>
    <h3 class="subtitle1"> Cool subtitle</h3>
    <h1 class="headline2 flex flex-col">
        <span>Hy, I'm Arthur and I do both.</span>
        <strong class="inline-block bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-purple-500">
            – {{title}}
        </strong>
    </h1>

    <p class="body1">People describe me as curious, adaptable and receptive.</p>
    <p class="body1">My current focus is on Frontend Development and UI/UX/UW.</p>
    <p class="body1">See some of my <a href="#" class="inline-link bg-green-500">projects</a>
        , read one of my <a href="#" class="inline-link bg-green-500">articles</a>
        or contact me at <a href="#" class="inline-link bg-green-500">hi@rtur.io</a>.</p>

</div>
