<div class="container mx-auto py-32 px-4 sm:px-8">

    <h2>
        <span class="bg-purple-500 text-white px-4 mt-32">What?</span>
    </h2>
    <h1 class="headline2 flex flex-col">
        <span>Hy, I'm Arthur and I do both.</span>
        <strong class="inline-block bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-purple-500">
            – {{title}}
        </strong>
    </h1>

    <div class="subtitle1">
        <p>People describe me as curious, adaptable and receptive.</p>
        <p>My current focus is on Frontend Development and UI/UX/UW.</p>
        <p>See some of my <a href="#" class="inline-link bg-green-500">projects</a>
            , read one of my <a href="#" class="inline-link bg-green-500">articles</a>
            or contact me at <a href="#" class="inline-link bg-green-500">hi@rtur.io</a>.</p>
    </div>

</div>
