<div class="container mx-auto py-32 px-4 sm:px-8">

    <h2>
        <span class="bg-purple-500 text-white px-4 mt-32">How?</span>
    </h2>

    <div class="flex flex-col gap-4">
        <h3 class="subtitle1">Technology I've worked & dabbled with</h3>
        <p class="body1">APIs - After Effects - Angular - Bootstrap - Django - Figma - Fontlab -
            Git/Gitlab - Glyphs - GraphQL - Illustrator - Indesign - Markup -
            Photoshop - Premiere - SCSS - SVG - Sketch - TS - Tailwind - WebGL -
            Webpack - Wordpress - Design Systems / Material Design - ES5/ES6</p>
        <p class="body1">I'm also interested in contemporary technologies like Jamstack - Web Components and neuronal
            networks.</p>
        <p class="body1"> Download my <a href="#" class="inline-link bg-green-500">curriculum vitae</a>.</p>
    </div>

</div>
