<div class="container mx-auto py-32 px-4 sm:px-8">

<h2>
        <span class="bg-purple-500 text-white px-4 mt-32">Why?</span>
    </h2>

    <div class="subtitle1 flex flex-col gap-4">
        <h3>About me lame subheadline</h3>
        <p>When I was a graphic designer, I had no control over this complicated, increasingly fast-paced world. So I
            took
            control back by learning to code. As a developer I can actively contribute to society and not just consume
            things. I see and understand how things that have been hidden from me.
        </p>
        <p>
            I want to create things that simply work and feel good. That's why I have the design in mind for everything
            I do.
            Beyond design and code, I am also interested in society – especially equality, transparency and new work –
            sci-fi and space-travel, cartoons and playing drums. Design, development, drums – I see a pattern here.
        </p>
        <p>Feel free to contact me at <a href="#" class="inline-link bg-green-500">ar@thur.io</a>.</p>
    </div>

</div>
