<h2 class="mt-32">
    <span class="bg-purple-500 text-white px-4 mt-32">How?</span>
</h2>
<p>Subtitle</p>
<div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 lg:mx-0">
    Test
</div>


<h2 class="mt-32">
    <span class="bg-purple-500 text-white px-4 mt-32">Why?</span>
</h2>
<p>Subtitle</p>
<div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 lg:mx-0">
    Test
</div>


<h2 class="mt-32">
    <span class="bg-purple-500 text-white px-4 mt-32">See</span>
</h2>
<p>Subtitle</p>
<div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 lg:mx-0">
    Test
</div>


<h2 class="mt-32">
    <span class="bg-purple-500 text-white px-4 mt-32">Read</span>
</h2>

<p>Subtitle</p>
<div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 lg:mx-0">

    {% if article_quicklinks.links %}
    {% for item in article_quicklinks.links %}
    <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-300 hover:border-purple-500">
        <h3 class="subtitle1">{{item.title}}
            →</h3>
        <p class="body1">{{item.desc}}</p>
    </a>
    {% endfor %}
    {% endif %}

</div>
