<!--<div class="{{ ' md:fixed' if path == 'home' }} w-full px-6">-->
<!--    <nav class="flex items-center justify-center  md:justify-between flex-wrap p-6  md:px-0 container mx-auto"-->
<!--         x-data="{ isOpen: false }" @keydown.escape="isOpen = false">-->
<!--        &lt;!&ndash;Logo etc&ndash;&gt;-->
<!--        <div class="flex items-center">-->
<!--            <a href="/" class="text-purple-500 font-bold text-lg">-->
<!--                Logo</a>-->
<!--        </div>-->

<!--        &lt;!&ndash;Toggle button (hidden on large screens)&ndash;&gt;-->
<!--        <button-->
<!--                @click="isOpen = !isOpen"-->
<!--                type="button"-->
<!--                class="ml-auto block  md:hidden px-2 text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500"-->
<!--                :class="{ 'transition transform-180': isOpen }"-->
<!--                aria-label="Menu"-->
<!--        >-->
<!--            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">-->
<!--                <path-->
<!--                        x-show="!isOpen"-->
<!--                        x-transition-->
<!--                        fill-rule="evenodd"-->
<!--                        clip-rule="evenodd"-->
<!--                        d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>-->
<!--                <path-->
<!--                        x-show="isOpen"-->
<!--                        x-transition-->
<!--                        fill-rule="evenodd"-->
<!--                        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"-->
<!--                />-->
<!--            </svg>-->
<!--        </button>-->

<!--        &lt;!&ndash;Menu&ndash;&gt;-->
<!--        <div x-show="!isOpen" x-transition class="w-full">-->
<!--            <div class="w-full flex-grow  md:flex  md:items-center  md:w-auto text-center">-->

<!--                {% if navigation.items %}-->

<!--                <ul class="pt-6  md:pt-0 list-reset  md:flex justify-end gap-2 flex-1 items-center">-->
<!--                    {% for item in navigation.items %}-->
<!--                    <li class="nav__item bg-gray-100">-->
<!--                        <a @click="isOpen = !isOpen"-->
<!--                           class="text-ml inline-block text-gray-500 no-underline hover:text-purple-500 py-2 px-4"-->
<!--                           href="{{ item.url }}">{{ item.text }}</a>-->
<!--                    </li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->

<!--                {% endif %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->
